# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.bat

# other
eclipse
run
src/main/java/com/*
src/main/java/javazoom/*
classes/*
src/main/resources/assets/extraons/*
config/*
saves/*
resourcepacks/*
logs/*
*.txt
src/main/java/net/thegaminghuskymc/gadgetmod/client/*
