# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.bat

# other
eclipse
run
libs
src/main/java/com/*
classes/*
src/main/resources/assets/cdm/*
